h1 {
	color:yellow;
	font-family: 'Kavoon', cursive;
}
.row1{
	overflow: auto;
}

h2 {
	color:darkgreen;
	margin-left:20px;
	font-family: 'Kavoon', cursive;
}
#firstChartDiv {
	margin-left:10px;
	
}

#container {
	margin-left:20px;
}
.players{
	background-color:white;
	text-align: center;
	border:5px solid blue; 
	margin-left:20px;
}
